body {
    background-color: #C4D3DE;
    padding: 50px;
    margin: 50px;
  }
  img {
    width: 100%;
    padding: 25px 0px 15px 0px;
    margin: 0px 50px 0px 0px;
  }
  h1 {
      color: #6A7A9C;
      font-size: 48px;
      font-family: roboto;
      font-weight: 600;
      letter-spacing: 0px;
      padding: 25px 0px 15px 0px;
      margin: 0px 0px 0px 0px;
    }
    .headline-div {
      border: #ffffff;
      border-width: 1px;
      border-style: solid;
      padding: 25px;
    }
  p {
    color: #555867;
    font-family: roboto;
    font-weight: 100;
    font-size: 12px;
    line-height: 24px;
    padding: 20px 50px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
