#container_1 {
    padding: 10%;
    margin: auto;
    background-color: rgb(230, 230, 230);
    border: 1px solid;
    text-align: center;
}
.heading {
    font-family: montserrat;
    font-size: 48px;
    text-align: center;
}
.image_1 {
    width: 20%;
    margin: 10px;
    display: inline-block;
    border: 10px solid #ffff;
}
.image_2 {
    width: 20%;
    margin: 10px;
    display: inline-block;
    border: 10px solid #ffff;
}
.image_3 {
    width: 20%;
    margin: 10px;
    display: inline-block;
    border: 10px solid #ffff;
}